* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}


.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}


.navbar {
  background: #0d6efd;
  color: white;
  padding: 15px 0;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}


.hero {
  background: #e9ecef;
  text-align: center;
  padding: 60px 20px;
}


.btn {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
}


.services {
  display: flex;
  gap: 20px;
  padding: 50px 0;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  flex: 1;
  min-width: 250px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.contact {
  background: #e9ecef;
  padding: 50px 0;
  text-align: center;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}


.footer {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 15px 0;
}


@media (max-width: 768px) {
  .nav-flex {
    flex-direction: column;
    gap: 10px;
  }

  .services {
    flex-direction: column;
  }
}
